<%= form_for @hotspot do |f| %>

  <% if  @hotspot.errors.any? %>
    Please correct the following errors:
    <ul>
      <% @hotspot.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :wifi_type %>
    <%= f.select :wifi_type, ["Free", "Fee-based"] %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :yelp_rating %>
    <%= f.number_field :yelp_rating, value: @hotspot.yelp_search[0] %>
  </div>
  <div class="field">
    <%= f.label :biz_url %>
    <%= f.text_field :biz_url %>
  </div>
  <div class="field">
    <%= f.label :img_url %>
    <%= f.text_field :img_url, value: @hotspot.yelp_search[1] %>
  </div>
  <div class="button">
    <%= f.submit %>
  </div>

  <% end %>
