<!-- WIFI UL/DL speed is in KBPS -->

<div>
  <% if @show_link %>
    <h4>Hotspot: <%= link_to hotspot.name, hotspot %></h4>
  <% else %>
    <h4>Hotspot: <%= hotspot.name %></h4>
  <% end %>

  <p><strong>Address: </strong><%= hotspot.address %> <br>
    <strong>Wifi: </strong> <%= hotspot.wifi_type %> <br>
    <strong>Business Site: </strong><a href="<%= hotspot.biz_url %>">LINK</a><br>
    <strong>Phone (Not all Available): </strong> <%= hotspot.phone %> <br>
  </p>

  <p><%= link_to "EDIT this Hotspot", edit_hotspot_path(hotspot) %></p>

</div>