<div class="search">
  <%= form_tag search_hotspots_path, method: 'get' do %>
    <div class="field">
      <%= label_tag :name_query, "Search Hotspot by Name" %>
      <%= text_field_tag :name_query %>
    </div>
    <div class="button">
      <%= submit_tag "Search" %>
    </div>
  <% end %>

  <%= form_tag search_hotspots_path, method: 'get' do %>
    <div class="field">
      <%= label_tag :location_query, "by Location" %>
      <%= text_field_tag :location_query %>
    </div>
    <div class="button">
      <%= submit_tag "Search" %>
    </div>
  <% end %>

  <%= form_tag search_hotspots_path, method: 'get' do %>
    <div class="field">
      <%= label_tag :rating_query, "by Yelp Rating" %>
      <%= select_tag :rating_query, options_for_select((0..5).step(0.5).to_a) %>
    </div>
    <div class="button">
      <%= submit_tag "Search" %>
    </div>
  <% end %>

  <%= form_tag search_hotspots_path, method: 'get' do %>
    <div class="field">
      <%= label_tag :wifi_query, "by Wifi-Type" %>
      <%= select_tag :wifi_query, options_for_select(["Free", "Fee-based"]) %>
    </div>
    <div class="button">
      <%= submit_tag "Search" %>
    </div>
  <% end %>

</div>
