<div class="flash"><%= flash[:notice] %></div>
<div class="post"><%= render @hotspot %></div>

<div class="mini-map">
  <img src="<%= @hotspot.map_key %>">
</div>

<div class="sidebar four columns offset-by-two">
  <% unless current_user.hotspots.include? @hotspot %>
    <%= form_tag addhotspot_path, method: 'post' do %>
      <%= hidden_field_tag :user_id, current_user.id %>
      <%= hidden_field_tag :hotspot_id, @hotspot.id %>
      <div class="button">
        <%= submit_tag "Add to Favorites!" %>
      </div>
    <% end %>
  <% end %>
</div>


<div class="sidebar four columns offset-by-two">
  <%= render partial: 'comment', collection: @hotspot.comments %>
</div>


<%= form_for [@hotspot, @hotspot.comments.new] do |f| %>
  <div class="field">
    <%= f.text_area :content, id: "message_area" %>
  </div>
  <div class="button">
    <%= submit_tag "Add Comment" %>
  </div>
<% end %>


<div class="widget">
  <% if  admin? %>
    <div class="link">
      <%= link_to "EDIT this Hotspot", edit_hotspot_path(@hotspot) %> ||
      <%= link_to "DELETE this Hotspot", @hotspot, confirm: 'Are you sure?', method: 'delete' %>
    </div>
  <% end %>
</div>

<div class="rec-head">
  Users that liked <%= @hotspot.name %>, also liked:
  <% @hotspot.recommend.each do |rec| %>
    <div class="rec"><%= link_to rec.name, hotspot_path(rec) %></div> ||
  <% end %>
</div>