<h4><%= flash[:notice] %></h4>
<%= render @hotspot %>

<div class="mini-map">
  <img src="<%= @hotspot.map_key %>" alt="">
</div>

<br>
<% unless current_user.hotspots.include? @hotspot %>
  <%= form_tag addhotspot_path, method: 'post' do %>
    <%= hidden_field_tag :user_id, current_user.id %>
    <%= hidden_field_tag :hotspot_id, @hotspot.id %>
    <%= submit_tag "Add to Favorites!" %>
  <% end %>
<% end %>
<br>

<h4>User Comments: </h4>
<%= render partial: 'comment', collection: @hotspot.comments %>

<br>

<%= form_for [@hotspot, @hotspot.comments.new] do |f| %>
  <%= f.text_area :content %>
  <br>
  <%= submit_tag "Add Comment" %>
<% end %>

<br>

<% if  admin? %>
  <%= link_to "EDIT this Hotspot", edit_hotspot_path(@hotspot) %> <br>
  <%= link_to "DELETE this Hotspot", @hotspot, confirm: 'Are you sure?', method: 'delete' %>
<% end %>