<%= form_for @user do |f| %>

  <% if  @user.errors.any? %>
    Please correct the following errors:
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <% if current_user != nil && current_user.admin? %>
    <%= f.label :admin %>
    <%= f.check_box :admin %>
  <% end %>

  <%= f.submit %>

<% end %>
