<% if @show_link %>
  <%= link_to hotspot  do %>
      <img class="hotspot" src="<%= hotspot.img_url %>" >
  <% end %>
<% else %>
  <h4><%= hotspot.name %></h4>
  <div class="info">
    || Address: <%= hotspot.address %> ||
    Wifi: <%= hotspot.wifi_type %> ||
    <a href="<%= hotspot.biz_url %>">Biz Site</a> ||
    Phone (If Available): <%= hotspot.phone %> ||
    Yelp Rating: <%= hotspot.yelp_rating %> ||
  </div>

<% end %>
