<!DOCTYPE html>
<html>
<head>
  <title>NYfi</title>
  <link rel="icon" type="image/png" href="http://inwallspeakers1.com/wp-content/uploads/2014/03/wifi-symbol.png"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
      <header class="sixteen columns">
        <h1><%= link_to "NYfi", root_path %></h1>
        <h2>NYC's Wifi Hotspots</h2>
        <nav>
          <ul>
            <% if current_user %>
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Account", user_path(current_user) %></li>
              <li><%= link_to "Logout", logout_path %></li>
            <% else %>
              <li><%= link_to "Create New Account", new_user_path %></li>
              <li><%= link_to "Login", login_path %></li>
            <% end %>
              <li><%= link_to "Search", searchform_hotspots_path %></li>
              <li><%= link_to "All Dem Userz", users_path %></li>
            <% if admin? %>
              <li><%= link_to "Create New Hotspot", new_hotspot_path %></li>
            <% end %>
          </ul>
        </nav>
      </header>
      <div class="main-map">
        <iframe scrolling="no" align="right" src="https://www.google.com/fusiontables/embedviz?q=select+col2+from+14lXjOKoR4whn6jkRxZW-gXXEQ7zmXiuAzDOYebaW&amp;viz=MAP&amp;h=false&amp;lat=40.738638966094825&amp;lng=-73.94781122333984&amp;t=1&amp;z=12&amp;l=col2&amp;y=2&amp;tmplt=2&amp;hml=GEOCODABLE"></iframe>
      </div>
      <div class="wrapper">
        <div class="posts ten columns">
          <% flash.each do |type, value| %>
            <div class="flash-<%= type.to_s %>">
              <%= value %>
            </div>
          <% end %>
          <%= yield %>
        </div> <!-- POSTS END -->
      </div> <!-- WRAPPER END -->
  </div> <!-- CONTAINER END -->
  <footer>
    &copy; <a href="https://www.linkedin.com/in/pauljwlee">Paul Jinwoo Lee</a> 2014
  </footer>
</body>
</html>
